{% extends "homebase.html" %}
{% block title %}Blog Comments{% endblock %}
{% block keywords %}{{ setting.keywords}}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}
{% block sidebar %}
{% load mptt_tags %}
{% load static %}
<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All Categories</span>
                    </div>
                    <nav class="header__menu" align="center">
                        <ul style="text-align:left;">
                            {% recursetree category %}
                            <li><a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a>
                                {% if not node.is_leaf_node %}
                                <ul style="top:0;left:170px;" class="header__menu__dropdown">
                                    <li> {{ children }}</li>
                                    <style>
                                        .header__menu ul li .header__menu__dropdown li:hover>a {
                                            color: lightgreen;
                                        }
                                    </style>
                                </ul>
                                {% endif %}
                            </li>
                            {% endrecursetree %}
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-9">
                <select name="catid" class="input search-categories">
                    <option value="0">All Categories</option>
                    {% recursetree category %}
                    {% if node.is_leaf_node %}
                    <option value="{{ node.id }}">{{ node.title }}</option>
                    {% endif %}
                    {% if not node.is_leaf_node %}
                    <optgroup label="{{ node.title }}">
                        {{ children }}
                    </optgroup>
                    {% endif %}
                    {% endrecursetree %}
                </select>
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="/search/" method="post">
                            <input id="query" name="query" class="input search-input" type="text"
                                placeholder="Enter your keyword">
                            {% csrf_token %}
                            <script>
                                $(function () {
                                    $("#query").autocomplete({
                                        source: "/search_auto/",
                                        select: function (event, ui) { //item selected
                                            AutoCompleteSelectHandler(event, ui)
                                        },
                                        minLength: 2,
                                    });
                                });

                                function AutoCompleteSelectHandler(event, ui) {
                                    var selectedObj = ui.item;
                                }
                            </script>

                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/blogbg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>User Profile</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Anasayfa</a>
                        <span>User Profile</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Contact Form Begin -->
<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="section-title">
                    {% include  "user_panel.html" %}
                </div>
            </div>
            <div class="col-lg-9">
                <h4 style="text-align:center;"><b>Comment List</b></h4>
                <br> <br> <br>
                <table class="shopping-cart-table table">
                    <tr>
                        <th class="text-left">Blog </th>
                        <th class="text-left">Rate </th>
                        <th class="text-left">Subject </th>
                        <th class="text-left">Comment </th>
                        <th class="text-left">Status </th>
                        <th class="text-left">Date </th>
                        <th class="text-left">Detail </th>
                    </tr>
                    {% for rs in comments %}
                    <tr>
                        <td class="text-left">
                            <a href="/blog/{{ rs.blog_id }}/{{ rs.blog.slug }}">
                                <strong>{{ rs.blog.title}}</strong> </a>
                        </td>
                        <td class="text-left">{{ rs.rate}} </td>
                        <td class="text-left">{{ rs.subject}} </td>
                        <td class="text-left">{{ rs.comment}} </td>
                        <td class="text-left">{{ rs.status}} </td>
                        <td class="text-left">{{ rs.create_at}} </td>
                        <td class="text-left"><a class="primary-btn" href="/user/deletecomment/{{ rs.id }}"
                                onclick="return confirm('Will be Delete ! Are you sure?' )"> Delete </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Contact Form End -->


{% endblock %}

{% block coontent %}

{% endblock %}


{% block head %}
<link rel='shortcut icon' type='image/x-icon' href={{setting.icon.url}} /> {% endblock %}