{% extends "homebase.html" %}
{% block title %}Blog Contents{% endblock %}
{% block keywords %}{{ setting.keywords}}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}
{% block sidebar %}
{% load static %}
<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All departments</span>
                    </div>
                    <ul>
                        <li><a href="#">Fresh Meat</a></li>
                        <li><a href="#">Vegetables</a></li>
                        <li><a href="#">Fruit & Nut Gifts</a></li>
                        <li><a href="#">Fresh Berries</a></li>
                        <li><a href="#">Ocean Foods</a></li>
                        <li><a href="#">Butter & Eggs</a></li>
                        <li><a href="#">Fastfood</a></li>
                        <li><a href="#">Fresh Onion</a></li>
                        <li><a href="#">Papayaya & Crisps</a></li>
                        <li><a href="#">Oatmeal</a></li>
                        <li><a href="#">Fresh Bananas</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                All Categories
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="What do yo u need?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/blogbg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Contents</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Anasayfa</a>
                        <span>Contents</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Contact Form Begin -->
<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="section-title">
                    {% include  "user_panel.html" %}
                </div>
            </div>
            <div class="col-lg-9">
                <h4 style="text-align:center;"><b>Contents</b></h4>
                <div class="section-title">
                    <a class="primary-btn" href="/user/addcontent">Add Content</a>
                </div>
                <br> <br>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form.media }}
                        <!-- ckeditor ayarlarını getirir -->
                        {{ form.as_p }}
                    </fieldset>
                    <div class="form-group">
                        <button class="primary-btn" type="submit">SAVE</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- Contact Form End -->


{% endblock %}

{% block head %}
<link rel='shortcut icon' type='image/x-icon' href={{setting.icon.url}} /> 
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}